@model RestaurantFoodViewModel
@{
    ViewData["Title"] = "Yemek Ekle/Güncelle";
    Layout = "_Restoran";
}

<div class="text-center">
    <div class="card-body">
        <h5 class="card-title">Yemek Ekle/Güncelle</h5>
        <form id="formMdr" method="post">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.FoodImgFileName)
            <div class="row mb-1 justify-content-center">
                <div class="col-md-4 text-center">
                    <div class="form-group text-center">
                        <label>Yemek Adı</label>
                        <input type="text" class="form-control" asp-for="FoodName" />
                        <span asp-validation-for="FoodName" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label>Fiyat</label>
                        <input type="number" class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label>Yemek Var Mı?</label>
                        <input type="checkbox" class="form-control" asp-for="Control" />
                        <span asp-validation-for="Control" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label class="form-label">Yemek Fotoğrafı</label>
                        @if(!string.IsNullOrEmpty(Model.FoodImgFileName))
                        {
                            <img src="~/Files/RestaurantFood/@Model.FoodImgFileName" class="img-fluid mb-4"/>
                        }
                        <input type="file" asp-for="FoodImgFile" class="form-control" accept="image/*" />
                        <span asp-validation-for="FoodImgFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-1 justify-content-center">
                <div class="col-md-4 text-center">
                    <button type="button" onclick="Save()" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function Save() {
            var frmvalid = $("#formMdr").valid();
            if (!frmvalid) {
                return false;
            }

            var form = $('#formMdr')[0];
            var formData = new FormData(form);

            $.ajax({
                url: '@Url.Action("AddOrUpdate", "roRestaurantFood")',
                type: 'post',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    if (response.success) {

                        alert(response.message);

                        if (!response.warning)
                            window.location.href = '@Url.Action("Lists", "roRestaurantFood")';
                    }
                    else {

                        alert(response.message);
                    }
                },
                error: function (xhr, textStatus, error) {
                    alert('Bir hata oluştu.');
                }
            });
        }
    </script>
}










@* <div class="text-center">
    <div class="card-body">
        <h5 class="card-title">Yemek Ekle/Güncelle</h5>
        <form action="@Url.Action("AddOrUpdate", "RestaurantFood")" method="post">
            @Html.HiddenFor(x => x.Id)
            <div class="row mb-1 justify-content-center">
                <div class="col-md-4">
                    <div class="form-group text-center">
                        <label>Yemek Adı</label>
                        <input type="text" class="form-control" asp-for="FoodName" />
                        <span asp-validation-for="FoodName" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label>Fiyat</label>
                        <input type="number" class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label>Yemek Var Mı?</label>
                        <input type="checkbox" class="form-control" asp-for="Control" />
                        <span asp-validation-for="Control" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-1 justify-content-center">
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div> *@













